@import url('https://fonts.googleapis.com/css2?family=Average&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Average&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Average&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Trirong:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --textprimary: #FFFFFF;
  --textsecondry: #000000;
  --bgprimary: #000000;
  --bgsecondry: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.scrollnone::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.scrollnone {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none;  /* For Internet Explorer and Edge */
}
.scrollnone::-ms-scrollbar {
  width: 0px;
  height: 0px;
}
body {}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.stroke{
  -webkit-text-stroke-width: 2px;
}
.navbg {
  background-color: (0, 0, 0, 0.12);
}

.font-weight {
  font-weight: 300 !important;
}

/* --------------------  Marquee -------------------- */

.marquee-container {
  overflow: hidden;
  white-space: nowrap;
  /* background-color: #fff; */
}

.marquee-inner-container {
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

/* --------------------  Marquee -------------------- */

/* --------------- Responsive ----------------- */

/* --------Nav------------- */

@media screen and (max-width: 850px) {
  .hamburger {
    display: block;
  }

  .nav-right {
    display: none;
  }
}
@media screen and (max-width: 650px) {.nav-logo{ height: 20px !important; } }
@media screen and (max-width: 500px) {.nav-logo{ height: 18px !important; } }
@media screen and (max-width: 450px) {.nav-logo{ height: 17px !important; } }
@media screen and (max-width: 400px) {.nav-logo{ height: 16px !important; } }

/* --------Nav------------- */

@media screen and (max-width: 1180px) {
  .hero-sub-heading {
    font-size: 1.5rem;
    line-height: 2rem;
    width: 100%;
  }
}

@media screen and (max-width: 990px) {
  .hero-sub-heading {
    font-size: 1.3rem;
    line-height: 1.9rem;
    margin-top: 2.5rem;
  }
}

@media screen and (max-width: 800px) {
  .hero-sub-heading {
    font-size: 1rem;
    line-height: 1.6rem;
    margin-top: 1.6rem;
  }
}

@media screen and (max-width: 1000px) {
  .hero-heading {
    font-size: 4rem;
    width: 100%;
    line-height: 5rem;
  }
}
@media screen and (max-width: 650px) {
  .hero-heading {
    font-size: 8.5vw;
    width: 100%;
    line-height: 10vw;
  }
  .hero-sub-heading {
    font-size: 0.8rem;
    line-height: 1.2rem;
    margin-top: 0.8rem;
  }
}

/* -------section--------- */

@media screen and (max-width: 800px) {
  .select-work-text {
    font-size: 3rem;
    padding-top: 5rem;
  }
  .section-heading {
    font-size: 2.2rem;
    line-height: 2.4rem;
    padding-top: 1.5rem;
  }
}
@media screen and (max-width: 650px) {
  .select-work-text {
    font-size: 7.9vw;
    padding-top: 0rem !important;
  }
  .section-heading {
    font-size: 6.8vw;
    line-height: 8vw;
    padding-top: 0rem;
  }
}

@media screen and (max-width: 850px) {
  .section-bottom {
    flex-direction: column;
    height: 100%;
    padding: 1rem 0rem;
  }
  .section-bottom-right {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 650px) {
  .section-bottom-right {
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
  }
  .section-bottom-left{
    display: inline-block;
    display: flex;
  }
  .bottom-right-first-p,
  .bottom-right-second-p,
  .section-bottom-left p
  {
    /* width: 100%; */
    font-size: 0.8rem;
  }
  .section-bottom-left img{
    height: 0.5rem;
  }
}

@media screen and (max-width: 600px) {
  .section-images,
  .hero-image {
    height: 450px;
  }
}

/* -------section--------- */

@media screen and (max-width: 1285px) {
  .homeabout-wrapper {
    flex-direction: column;
    gap: 2rem;
  }
  .homeabout-left,
  .homeabout-right,
  .homeabout-left-text {
    width: 100%;
  }
  .homeabout-right img {
    height: 450px;
    object-fit: cover;
    border-radius: 30px;
  }
  .homeabout-left-text {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 850px) {
  .homeabout-left-text {
    font-size: 1rem;
  }
}
@media screen and (max-width: 800px) {
  .section-about-heading {
    font-size: 3rem;
  }

  .homeabout-left-text {
    font-size: 1rem;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 650px) {
  .section-about-heading {
    font-size: 6.8vw;
  }
  .homeabout-left-text {
    font-size: 0.8rem;
    margin-top: 0.5rem;
  }
  .homeabout-wrapper {
    padding-top: 5rem;
  }
}

/* ---------marquee---------- */

.marquee-inner-container img {
  height: 60px;
}
@media screen and (max-width: 800px) {
  .marquee-heading {
    font-size: 2.2rem;
  }

  .marquee-inner-container img {
    height: 40px;
  }
}

@media screen and (max-width: 650px) {
  .marquee-heading {
    font-size: 6.8vw;
    line-height: 2.5rem;
  }
  .marquee-wrapper{
    margin-bottom: 1rem;
  }

  .marquee-inner-container img {
    height: 20px;
  }
}

/* ---------marquee---------- */

/* ---------------capabilities------------- */

@media screen and (max-width: 1235px) {
  .card-header p {
    font-size: 2.4rem;
  }
  .card-header img {
    height: 75px;
  }
  .card-para {
    font-size: 18px;
  }
}
@media screen and (max-width: 1050px) {
  .card-header p {
    font-size: 2.2rem;
  }

  .card-header img {
    height: 60px;
  }

  .card-para {
    font-size: 17px;
    margin-top: 0.5rem;
  }
}
@media screen and (max-width: 1024px) {
  .card-header p {
    font-size: 2.2rem;
  }
  .card-header img {
    height: 60px;
  }
  .card-para {
    font-size: 17px;
    margin-top: 0.5rem;

    width: 100%;
  }
}
@media screen and (max-width: 1000px) {
  .capabilities-text {
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 800px) {
  .capabilities-text {
    font-size: 3rem;

  }
}
@media screen and (max-width: 650px) {
  .cards-wrapper {
    padding-bottom: 0px;
  }

  .capabilities-cards-container {
    padding-top: 0rem;
  }

  .capabilities-cards-container p {
    font-size: 0.8rem;
  }

  .capabilities-text {
    font-size: 6.8vw;

  }

  .card-header p {
    font-size: 2rem;
  }

  .card-header img {
    height: 55px;
  }

  .card-para {
    font-size: 16px;
    margin-top: 0.3rem;
  }
}

@media screen and (max-width: 470px) {
  .card-header p {
    font-size: 2rem;
    line-height: 2rem;
  }

  .card-header img {
    height: 50px;
  }
}

@media screen and (max-width: 440px) {
  .card-header p {
    font-size: 1.7rem;
    line-height: 2rem;
  }

  .card-header img {
    height: 50px;
  }
}

@media screen and (max-width: 375px) {
  .card-header p {
    font-size: 1.4rem;
    line-height: 2rem;
  }

  .card-header img {
    height: 50px;
  }
}

/* ---------------capabilities------------- */

/* -------Contact---------------- */
@media screen and (max-width: 1200px) {
  .contact-inner-wrapper {
    flex-direction: column;
    gap: 5rem;
  }

  .contact-wrapper-left,
  .contact-wrapper-right {
    width: 100%;
    padding-top: 0rem;
  }

  .input-box input {
    height: 4rem;
  }

  .input-box {
    margin-top: 1.5rem;
  }
}

@media screen and (max-width: 1200px) {
  .contact-heading {
    font-size: 5rem;
  }

  .contact-sub-heading {
    font-size: 1.6rem;
    line-height: 2rem;
    margin-top: 0.8rem;
  }

  .contact-para {
    font-size: 18px;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 900px) {
  .contact-wrapper {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }
}

@media screen and (max-width: 810px) {
  .contact-inner-wrapper {
    flex-direction: column;
    gap: 3rem;
  }

  .contact-heading {
    font-size: 3rem;
    line-height: 3rem;
  }

  .contact-sub-heading {
    font-size: 1.4rem;
    line-height: 2rem;
    margin-top: 1.5rem;
  }

  .contact-para {
    font-size: 1rem;
    margin-top: 1rem;
  }

  .contact-button {
    width: 100%;
  }
}
@media screen and (max-width: 650px) {

  .contact-heading {
    font-size: 8.5vw;
  }
  .contact-sub-heading {
    font-size: 5.5vw;
    line-height: 7vw;
    margin-top: 0.5rem;
  }

  .contact-para {
    font-size: 0.8rem;
    margin-top: 1rem;
  }
  .input-box label{
    font-size: 0.8rem;
  }
}
/* -------Contact---------------- */

/* ------footer nav----------- */
@media screen and (max-width: 1100px) {
  .footer-nav {
    flex-direction: column;
    align-items: center;
    padding-bottom: 0.5rem;
  }
}

@media screen and (max-width: 650px) {
  
  .footer-links p {
    font-size: 0.6rem;
  }

  .footer-links {
    font-size: 0.8rem;
    flex-wrap: wrap;
    gap: 10px;
    line-height: 5px;
    justify-content: center;
    margin-top: 0rem;
  }

  .footer-copyright {
    font-size: 0.6rem;
    margin-top: 0rem;
  }

  .bottom-logo {
    margin-top: 5rem;
  }
}

@media screen and (max-width: 650px) {
  
  .home-wrapper,
  .home-section-1-wrapper,
  .homeabout-wrapper,
  .marquee-wrapper,
  .capabilities-wrapper{
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }
  .home-section-1-wrapper {
    padding-top: 1rem;
  }
  .capabilities-wrapper{
    margin-top: 1rem;
  }
  .capabilities-wrapper{
    padding-bottom: 1rem;
  }
}



/* ------footer nav----------- */

/* -------Responsive----------------- */

/* -------About-page------- */

@media screen and (max-width: 650px) { .about-wrapper, .howwework-wrapper{ padding-left: 0.8rem; padding-right: 0.8rem;}}
@media screen and (max-width: 900px) {.aboutimg1, .capabilities-wrapper{margin-top: 2rem;} .work-card-center{display: none;} .work-card-first, .work-question-text{font-size: 1.5rem;} .work-card-last, .work-answer-text{font-size: 1rem;} .work-plus{height: 15px;} .work-minus{height: 2px;} .workcardwrapper{padding: 1.5rem 0;} .about-card-component-wrapper{padding: 1rem 0rem;}}
@media screen and (max-width: 650px) { .about-wrapper{ padding: ;} .cards-wrapper{padding: 1rem 0rem;} .hero-heading{margin-bottom: 1rem;} .aboutimg1, .capabilities-wrapper{margin-top: 0rem;} .work-card-center{display: none;} .work-card-first, .work-question-text{font-size: 1.3rem;} .work-card-last, .work-answer-text{font-size: 0.9rem;} .workcardwrapper{padding: 1.5rem 0;} .about-card-component-wrapper{padding: 1rem 0rem;}}
@media screen and (max-width: 530px) {.work-card-first{font-size: 1.1rem;} .work-card-last{font-size: 0.8rem;} .workcardwrapper{padding: 1.5rem 0;}}
@media screen and (max-width: 440px) {.work-card-first{font-size: 1.1rem;} .work-card-last{font-size: 0.7rem;} .workcardwrapper{padding: 1.5rem 0;}}
@media screen and (max-width: 440px) {.work-card-first{font-size: 1.1rem;} .work-card-last{font-size: 0.7rem;} .workcardwrapper{padding: 1.5rem 0;}}
@media screen and (max-width: 374px) {.work-card-first{font-size: 1.1rem;} .work-card-last{font-size: 0.6rem;} .workcardwrapper{padding: 1.5rem 0;}}
@media screen and (max-width: 650px) { .anime-text{ font-size: 4.7vw;} .stroke{-webkit-text-stroke-width: 0.9px !important;}}

/* -------About-page------- */

/* -------Work-page------- */

@media screen and (max-width: 650px) { .work-wrapperd{ padding-left: 0.8rem; padding-right: 0.8rem;}}
@media screen and (max-width: 1000px) {  .work-hero-text{margin-top: 3rem;} .workimgs-image, .work-hero-img{height: 450px;} .work-anime-container{flex-direction: column;} .anime-right, .anime-left{width: 100%;} .workimgs{position: static;} .anime-left{display: none;}.work-hidden-text-wrapper{display: block;} .work-left-text-card-wrapper{height: 100%; padding-top: 1rem;} .work-left-text-card-wrapper-button{margin-top: 2rem;} .anime-right{padding-top: 1rem; padding-bottom: 1rem;} .anime-right{margin-top: 1rem; margin-bottom: 1rem;} }

/* -------Work-page------- */

/* -------Capabilities page------- */
@media screen and (max-width: 1000px) { .capabilities-anime-container{flex-direction: column;} .capabilities-left{display: none;} .capabilities-left, .capabilities-right{width: 100%;} }
@media screen and (max-width: 800px) { .capabilities-left{padding-right: 0px;}}
@media screen and (max-width: 800px) { .capabilities-card-wrapper{max-height:50% ; min-height:50% ;} .work-subscription-heading{font-size: 1rem;} .anime-heading, .anime-heading-second{font-size: 2rem;} .capabilities-card-wrapper{padding: 1rem 1rem;} .capabilitiescard-heading{font-size: 1.5rem;} .capabilitiescard-para2, .capabilitiescard-para1{font-size: 0.8rem; padding-top: 0.5rem;}  .capabilities-card-wrapper{border-radius: 1rem;}}
@media screen and (max-width: 500px) { .anime-heading, .anime-heading-second{font-size: 1.8rem;} .capabilities-card-wrapper{padding: 1rem 1rem;} .capabilitiescard-heading{font-size: 1.5rem;} .capabilitiescard-para2, .capabilitiescard-para1{font-size: 0.8rem; padding-top: 0.5rem;}  .capabilities-card-wrapper{border-radius: 1rem;}}
@media screen and (max-width: 600px) { .capabilities-card-wrapper{max-height:70% ; min-height:70% ;} .work-subscription-heading{font-size: 0.8rem;} .capabilities-anime-container{margin-top: 1rem; padding-top: 1rem;}}

/* -------Capabilities page------- */
/* -------Contact page------- */
@media screen and (max-width: 600px) {.contact-page-wrapper{ padding-left: 0rem; padding-right: 0rem;} .contact-page-nav-container{padding-left: 0.8rem; padding-right: 0.8rem;}}

/* -------Contact page------- */



  